body, html {
  height: 100%;
}

.list {
  text-align: left;
  /* max-width: 1000px; */
  margin: auto;
}

.submit-form {
  max-width: 500px;
  margin: auto;
}

.edit-form {
  max-width: 450px;
  margin: auto;
}

.task-title {
  font-size: 16px;
  overflow: hidden;
  margin-right: 10px;
}

.pull-right {
  float: right !important;
}
.badge
{
  display: inline-block;
  /* min-width: 15px; */
  width: 75px;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}
.bg-theme {
  background-color: #68dff0;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2013/10/02/23/03/dawn-190055_960_720.jpg');
  /* background-size: auto;
  background-repeat: no-repeat; */
  height: 100%;

  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.golu{
  /* background-attachment: fixed; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  overflow: hidden;
  z-index: 4;
  /* margin: */
}
.main {
  margin-top: 100px; 
}

.db-white{
  padding: 38px;
  background-color: rgb(218, 216, 224);
  border-radius: 15px 15px 15px 15px;
}

.color-azure{
  color:azure;
}


.Clay{
  background-color: azure;
  color:black;
}

.Red{
  background-color: purple;
}
.Lime{
  background-color: #D291BC;
}
.Yellow{
  background-color: #E0BBE4;
}

.Purple{
  background-color: #094869;
}
.Pink{
  background-color: #398684;
}
.Orange{
  background-color: #77bd98;
}
.lightBlue{
  background-color: #a6dba7;
}

.RoyalBlue{
  background-color:#B96F6F;
}
.Gold{
  background-color: #C88E8E;
}
.Silver{
  background-color: #D7ACAC;
}

.MarginBottom{
  marginBottom:10px;
}

.MarginTop{
  marginTop:10px;
}

.AntiBold{
  font-weight: normal;
}

.BlackHeading{
  color:black;
  font-weight: bold;
}
.ListHeading{
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  margin-right: 10px;
  text-align: left;
}

h4{
  color:azure;
}
.Highlight{
  font-weight: bolder;
}

.buttonAsALink{
  border-radius: 10px 10px 10px 10px;
  height: 24px;
  border: none;
}


.Hovering:hover {
  background: red;
}

.Hovering2:hover {
  color: white;
  background:#d39e00;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}